[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-extensions = "*"
django-environ = "*"
pillow = "*"
crispy-bootstrap5 = "*"
python-webpack-boilerplate = "*"
django-allauth = "*"
django-template-partials = "*"
markdown = "*"

[dev-packages]
pytest = "*"
selenium = "*"
pytest-django = "*"
django-debug-toolbar = "*"
psycopg2-binary = "*"

[production]
gunicorn = "*"
psycopg2 = "*"

[requires]
python_version = "3.11"
