.slider-container {
  overflow: hidden; /* Cache les éléments hors du conteneur */
  width: 100%; /* Largeur du conteneur */
  position: relative;
}

.slider {
  display: flex; /* Affiche les slides en ligne */
  white-space: nowrap;
  animation: slide 10s linear infinite; /* Animation pour déplacer le contenu */
}

.slide {
  flex-shrink: 0; /* Empêche les slides de se rétrécir */
  width: calc(100% / 10); /* La largeur de chaque icône, peut être ajustée */
  display: flex; /* Permet d'aligner les images verticalement */
  align-items: center; /* Centre verticalement les images dans les slides */
  justify-content: center; /* Centre horizontalement les images dans les slides */
}

.img-slide {
  width: auto; /* Largeur de l'image */
  height: 100px; /* Hauteur de l'image */
  margin: 1rem;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(
      -190%
    ); /* Continue jusqu'à -200% pour revenir au début */
  }
}
