{% extends "base.html" %}
{% load static %}
{% block title %}
  Qui sommes nous? | codebasksolution
{% endblock title %}
{% block content %}
  {% include "pages/home/home_section/intro.html" %}
  <section class=" text-center container">
    <div class="px-4 py-3 my-2 text-center">
      <h1 class="fw-light">
        <span class="text-body-secondary">Notre objectif:</span> Simplicité et efficité!
      </h1>
      <div class="col-lg-6 mx-auto">
        <p class="mb-4">
          Chez <strong>Code Bask Solution</strong>, notre processus de développement logiciel est pensé pour être à la fois structuré et flexible, afin de s'adapter parfaitement aux exigences et aux contraintes de chaque projet. Voici comment nous transformons une idée en solution logicielle performante et sur mesure
        </p>
      </div>
    </div>
    <div class="container text-center mt-5">
      <header class="mt-4">
        <h2 class="heading">Notre Approche</h2>
      </header>
      <div class="row align-items-center">
        <div class="col-lg-6">
          <p>
            Nous privilégions une approche Agile et le Test-Driven Development (TDD) dès les premières étapes de nos projets de développement de logiciels et d'applications, assurant que chaque fonctionnalité soit parfaitement alignée avec les attentes des clients et rigoureusement testée. Notre processus de développement est itératif, comprenant des cycles de conception, de développement, de tests et de déploiement qui favorisent une interaction étroite avec nos clients. Cette méthodologie nous permet non seulement de répondre avec précision et flexibilité aux besoins actuels, mais aussi de préparer nos solutions pour les exigences futures. Nous nous engageons à construire des relations durables avec nos clients et à développer des produits sur-mesure, sécurisés et adaptés aux évolutions constantes du marché.
          </p>
        </div>
        <div class="col-lg-6">
          <img class="rounded float-end img-fluid mh-100" src="{% static "vendors/images/agile.svg" %}" alt="un environnement de travail collaboratif axé sur le développement de logiciels. Au premier plan, une grande main tape sur un clavier devant un écran d'ordinateur affichant du code. Autour, des individus engagés dans diverses activités professionnelles : une équipe élabore des stratégies autour d'un tableau blanc, un individu programme sur un ordinateur de bureau, un autre est en pleine réflexion créative, et un troisième est assis sur une pile de livres étiquetés "CODE". Des icônes de réseaux sans fil, de loupe, de rouages, et une ampoule symbolisant l'idéation sont également visibles. L'ensemble crée une scène dynamique de productivité et d'innovation dans le domaine du développement informatique.">
        </div>
      </div>
    </div>
    <div class="container text-center mt-5">
      <header class="mt-4">
        <h2 class="heading">Nos Technologie</h2>
      </header>
      <div class="row align-items-center">
        <div class="container px-4 py-5" id="featured-3">
                    <!-- Frontend-->
          <h2 class="pb-2 border-bottom text-start">Front-end</h2>
          <div class="row g-4 py-5 row-cols-1 row-cols-lg-5">
            <div class="feature col">
              <div class="feature-icon d-inline-flex align-items-center justify-content-center  bg-gradient fs-2 mb-3">
                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/html5/html5-original-wordmark.svg"
                     height="50" />
              </div>
              <h5>HTML</h5>
            </div>
            <div class="feature col">
              <div class="feature-icon d-inline-flex align-items-center justify-content-center  bg-gradient fs-2 mb-3">
                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/css3/css3-original-wordmark.svg"
                     height="50" />
              </div>
              <h5>CSS</h5>
            </div>
            <div class="feature col">
              <div class="feature-icon d-inline-flex align-items-center justify-content-center  bg-gradient fs-2 mb-3">
                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/javascript/javascript-original.svg"
                     height="50" />
              </div>
              <h5>Javascript</h5>
            </div>
            <div class="feature col">
              <div class="feature-icon d-inline-flex align-items-center justify-content-center  bg-gradient fs-2 mb-3">
                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/bootstrap/bootstrap-original.svg"
                     height="50" />
              </div>
              <h5>Bootstrap</h5>
            </div>
            <div class="feature col">
              <div class="feature-icon d-inline-flex align-items-center justify-content-center  bg-gradient fs-2 mb-3">
                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/webpack/webpack-original-wordmark.svg"
                     height="50" />
              </div>
              <h5>Webpack</h5>
            </div>
          </div>
                    <!-- Frontend -->
                    <!-- Backend -->
          <h2 class="pb-2 border-bottom text-start">Back-end</h2>
          <div class="row g-4 py-5 row-cols-1 row-cols-lg-6 align-items-center justify-content-center ">
            <div class="feature col">
              <div class="feature-icon d-inline-flex align-items-center justify-content-center  bg-gradient fs-2 mb-3">
                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/python/python-original.svg"
                     height="50" />
              </div>
              <h5>Python</h5>
            </div>
            <div class="feature col">
              <div class="feature-icon d-inline-flex align-items-center justify-content-center  bg-gradient fs-2 mb-3">
                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/django/django-plain.svg"
                     height="50" />
              </div>
              <h5>Django</h5>
            </div>
            <div class="feature col">
              <div class="feature-icon d-inline-flex align-items-center justify-content-center  bg-gradient fs-2 mb-3">
                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/djangorest/djangorest-plain.svg"
                     height="50" />
              </div>
              <h5>Django RestFramework</h5>
            </div>
            <div class="feature col">
              <div class="feature-icon d-inline-flex align-items-center justify-content-center  bg-gradient fs-2 mb-3">
                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/pytest/pytest-original-wordmark.svg"
                     height="50" />
              </div>
              <h5>Pytest</h5>
            </div>
            <div class="feature col">
              <div class="feature-icon d-inline-flex align-items-center justify-content-center  bg-gradient fs-2 mb-3">
                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/postman/postman-original-wordmark.svg"
                     height="50" />
              </div>
              <h5>Postman</h5>
            </div>
            <div class="feature col">
              <div class="feature-icon d-inline-flex align-items-center justify-content-center  bg-gradient fs-2 mb-3">
                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/selenium/selenium-original.svg"
                     height="50" />
              </div>
              <h5>Sélénium</h5>
            </div>
            <div class="feature col">
              <div class="feature-icon d-inline-flex align-items-center justify-content-center  bg-gradient fs-2 mb-3">
                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/postgresql/postgresql-original-wordmark.svg"
                     height="50" />
              </div>
              <h5>Postgresql</h5>
            </div>
            <div class="feature col">
              <div class="feature-icon d-inline-flex align-items-center justify-content-center  bg-gradient fs-2 mb-3">
                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/redis/redis-original-wordmark.svg"
                     height="50" />
              </div>
              <h5>Redis</h5>
            </div>
          </div>
                    <!-- Backend -->
                    <!-- DevOps -->
          <h2 class="pb-2 border-bottom text-start">DevOps</h2>
          <div class="row g-4 py-5 row-cols-1 row-cols-lg-6 align-items-center justify-content-center ">
            <div class="feature col">
              <div class="feature-icon d-inline-flex align-items-center justify-content-center  bg-gradient fs-2 mb-3">
                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/docker/docker-original.svg"
                     height="50" />
              </div>
              <h5>Docker</h5>
            </div>
            <div class="feature col">
              <div class="feature-icon d-inline-flex align-items-center justify-content-center  bg-gradient fs-2 mb-3">
                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/sentry/sentry-original-wordmark.svg"
                     height="50" />
              </div>
              <h5>Sentry</h5>
            </div>
            <div class="feature col">
              <div class="feature-icon d-inline-flex align-items-center justify-content-center  bg-gradient fs-2 mb-3">
                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/circleci/circleci-plain-wordmark.svg"
                     height="50" />
              </div>
              <h5>Cercle CI</h5>
            </div>
          </div>
                    <!-- DevOps -->
        </div>
      </div>
      <div class="slider-container">
        <div class="slider">
          <div class="slide">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/html5/html5-original-wordmark.svg"
                 alt="Circle CI"
                 style="height: 100px;
                        width: auto">
          </div>
          <div class="slide">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/javascript/javascript-original.svg"
                 alt="Circle CI"
                 style="height: 100px;
                        width: auto">
          </div>
          <div class="slide">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/circleci/circleci-plain-wordmark.svg"
                 alt="Circle CI"
                 style="height: 100px;
                        width: auto">
          </div>
          <div class="slide">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/docker/docker-original.svg"
                 alt="Circle CI"
                 style="height: 100px;
                        width: auto">
          </div>
          <div class="slide">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/python/python-original.svg"
                 alt="Circle CI"
                 style="height: 100px;
                        width: auto">
          </div>
        </div>
      </div>
    </section>
{% endblock content %}
