<div class="container end-0 p-3">
  <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="header">
      <svg xmlns="http://www.w3.org/2000/svg"
           class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2"
           viewBox="0 0 16 16"
           role="img"
           aria-label="Success:"
           width="25"
           height="25">
        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
      </svg>
      <strong class="me-auto">Bootstrap</strong>
      <small class="text-body-secondary">just now</small>
      <button type="button"
              class="btn-close"
              data-bs-dismiss="toast"
              aria-label="Close"></button>
    </div class="toast-body">
    {{ message }}
  </div>
</div>
