<!--  Modal -->
<div class="modal fade"
     id="item1Modal"
     tabindex="-1"
     aria-labelledby="item1ModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header border-0">
        <button class="btn-close"
                type="button"
                data-bs-dismiss="modal"
                aria-label="Close"></button>
      </div>
      <div class="modal-body text-center px-lg-5 pb-lg-5 pt-lg-3">
        <div class="swiper work-slider mb-3">
          <div class="swiper-wrapper">
            <div class="swiper-slide mb-5">
              <img class="img-fluid d-block mx-auto" src="img/main-slider1.jpg" alt="">
            </div>
            <div class="swiper-slide mb-5">
              <img class="img-fluid d-block mx-auto" src="img/main-slider2.jpg" alt="">
            </div>
            <div class="swiper-slide mb-5">
              <img class="img-fluid d-block mx-auto" src="img/main-slider3.jpg" alt="">
            </div>
          </div>
          <div class="swiper-pagination"></div>
        </div>
        <h2 class="heading mb-5" id="item1ModalLabel">Project Name</h2>
        <p>
          Projecting surrounded literature yet delightful alteration but bed men. Open are from long why cold. If must snug by upon sang loud left. As me do preference entreaties compliment motionless ye literature. Day behaviour explained law remainder. Produce can cousins account you pasture. Peculiar delicate an pleasant provided do perceive.
        </p>
        <p>
          Sitting mistake towards his few country ask. You delighted two rapturous six depending objection happiness something the. Off nay impossible dispatched partiality unaffected. Norland adapted put ham cordial. Ladies talked may shy basket narrow see. Him she distrusts questions sportsmen. Tolerably pretended neglected on my earnestly by. Sex scale sir style truth ought.
        </p>
        <a class="btn btn-outline-primary me-3 my-1" href="#"> <i class="fas fa-globe-americas me-2"></i>Visit website</a><a class="btn btn-outline-primary" href="#"> <i class="fas fa-download me-2"></i>Download case study</a>
      </div>
    </div>
  </div>
</div>
